* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

/* Utility Classes */
section {
    padding: 15px 70px;
}

section h1,
section h2,
section h3,
section>span {
    margin-left: -30px;
}

.btn-link {
    margin: 20px 0;
}

.btn {
    border: 2px solid black;
    padding: 6px 10px;
    font-size: 1rem;
    background: none;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

.highlighted-1{
    font-family: 'Teko', sans-serif;
}

.display{
    display: block;
}

#navbar {
    display: flex;
    /* box-shadow: 0px 2px 3px  rgb(58, 58, 58); */
    /* background-color: white; */
    background-color: crimson;
    height: 52px;
    width: 97%;
    padding: 0 27px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: top 0.2s;
}

#navbar .nav-logo {
    padding: 5px 10px;
    font-size: 1.2rem;
    font-family: 'Teko', sans-serif;
    color: white;
}

#navbar .menubar {
    padding-right: 23px;
    display: flex;
    flex-direction: column;
}

#navbar .menubar ul {
    display: flex;
    list-style: none;
}

#navbar .menubar ul li {
    margin: 0px 13px;
    color: white;
}

#navbar .menubar .menu-toggle {
    display: none;
}

#navbar .menubar ul li a {
    color: white;
    text-decoration: none;
    padding: 3px;
}

main {
    margin-top: 52px;
}

/* Section 1 */
#home {
    background-color: crimson;
    padding: 0;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#home p:first-of-type{
    font-size: 3rem;
}

#home p:nth-of-type(2){
    font-size: 1.3rem;
}


/* Section 2 */

.explore-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 50px 20px;
}

.explore-card {
    margin: 10px 0px;
    padding: 20px 20px 0px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 1.2rem;
    transition: all 0.2s;
    position: relative;
}

.explore-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 40px;
    /* background-color: rgb(255, 205, 143); */
    background-color: rgba(255, 156, 176, 0.83);
    z-index: -2;
    border: 3px solid black;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.explore-card:hover {
    transform: scale(1.03);
}

#explore-card-1 {
    align-self: flex-start;
}

#explore-card-2 {
    align-self: center;
}

#explore-card-3 {
    align-self: flex-end;
}

#explore-card-1::after {
    background-image: url('../img/experience.png');
    background-size: contain;
}

#explore-card-2::after {
    background-image: url('../img/projects.png');
    background-size: contain;
}

#explore-card-3::after {
    background-image: url('../img/contact.jpg');
    background-size: cover;
}

/* Section 3 */
.experience-box {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.experience-bar {
    height: 5px;
    border: 2px solid black;
    margin: 0 13px;
    width: 0px;
}

.fill-bar {
    animation: fillBar 1s ease-out;
}

@keyframes fillBar {
    from {
        width: 0;
    }

}

#experience-bar-1 {
    background-color: rgb(0, 57, 78);
}

#experience-bar-2 {
    background-color: rgb(247, 152, 0);
}

#experience-bar-3 {
    background-color: rgb(0, 187, 255);
}

#experience-bar-4 {
    background-color: rgb(246, 255, 0);
}

.project-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

/* Section 4 */
#about h1 {
    font-size: 2.5rem;
}

#about h2 {
    font-size: 1.8rem;
}

/* Section 5 */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h3 {
    margin: 30px 0;
}

#contact form {
    width: 35%;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.important::after{
    content: '*';
    color: rgb(255, 0, 55);
}

.form-item label {
    font-size: 0.9rem;
}

.form-item input,
.form-item textarea {
    font-size: 0.8rem;
    padding: 3px 5px;
    resize: none;
}

/* Go to top arrow */
.go-up{
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    color: white;
    background-color: crimson;
    text-decoration: none;
    bottom: 50px;
    right: 30px;
    border-radius: 7px;
    text-align: center;
}

/* footer */
.footer {
    height: 34vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.f2 ul li{
    list-style: none;
}

.f2 a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }

}

.f3 {
    display: flex;
    flex-direction: column;
}

.f3 .fa-brands {
    font-size: 20px;
    color: black;
    margin: 7px 0;
}

.f3 .fa-brands:hover {
    color: inherit;
}

.footer-partition {
    height: 110px;
    width: 0;
    border: 1px solid crimson;
}

.copyright {
    text-align: center;
    color: #808080;
}

/* Responsive Design */
@media screen and (max-width:900px) {

    /* Hide navbar */
    #navbar .menubar {
        padding: 0px;
    }

    #navbar .menubar .menu-toggle {
        display: block;
        position: absolute;
        top: 15px;
        right: 60px;
        z-index: 3;
        transition: all 0.3s ease-out;
    }

    #navbar .menubar .menu-box {
        flex-direction: column;
        position: relative;
        height: 50vh;
        justify-content: space-around;
        padding: 0px 45px 10px 20px;
        transition: all 0.3s ease-out;
    }

    #navbar .menubar .menu-hidden{
        top: -150px;
    }

    #navbar .menubar ul li {
        margin: 0px 0px 13px 0px;
    }

    /* Adjust Explore cards */
    .explore-card {
        margin: 10px 0px;
        align-self: center;
    }

    #explore-card-1 {
        align-self: center;
    }

    #explore-card-2 {
        align-self: center;
    }

    #explore-card-3 {
        align-self: center;
    }
}